<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuranNovels</title>
    <!--путь к css-->
    <link rel="stylesheet" href="allbooks.css">
    <!--иконки из boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   <!--Путь к Swipper для CSS-->
    <link rel="stylesheet" href="CSS/swiper-bundle.min.css">
</head>
<body>
         <!--Заголовок-->
         <header>
            <div class="nav container">
                <a href="/" class="logo">Turan<span>Novels</span></a> <!--Лого-->
                <!--Иконки заголовка-->
                <div class="nav-icons">
                    <i class='bx bx-bell bx-tada' id="bell-icon"><span></span></i>
                    <i class='bx bxs-user-circle' id="account_icon"><span></span></i>
                    <div class="menu-icon">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>

                <div class="menu">
                    <img src="IMG/game.png" alt="">
                    <div class="navbar">
                        <li><a href="login.html">Profile</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#trending">Trending</a></li>
                        <li><a href="#new">New Games</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </div>
                </div>


            </div>


        </header>


        <% abook.forEach(function(onebook){ %>
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <img src="<%= onebook.image %>" width="200" alt="">
            </div>
            <div class="profile-nav-info">
                <div class="user-name"><%= onebook.title %></div>
                <div class="role"> <p class="status_halal"><%= onebook.genre %>
                </p></div>
            </div>




        </div>
        <!---->
        <div class="main-db">
            <div class="left-side">
                <p class="novels_user">
                    <i class='bx bxs-bookmark'>: X chapters</i>
                </p>
                <p class="friends-user">
                    <i class='bx bxs-group'>: XXX readers</i>
                </p>
                <div class="user-bio">
                    <p class="bio-user">
                        <%= onebook.about %>
                    </p>
                </div>
                <div class="profile-btn">
                    <button class="chatbtn">
                        <a href="BaC/chapter1_RB.html"><i class='bx bxs-chat'></i> Read the Book</a>
                    </button>
                    <button class="createbtn">
                        <i class='bx bx-plus-circle'></i>Download the Book
                    </button>
                </div>
                <p class="bio-user">
                    <%= onebook.text %>
                </p>

            </div>

        </div>



        </div>
        <% }); %>

    </div>


    <script src="script12.js"></script>>
</body>
</html>
